*{
    
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.banners{
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
          display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.banners2{
  margin-top: 1px;
  position: relative;
          display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}


/*NAVBAR*/
#inicio{
  padding-top: 71px;
}

.navbar{
    background: #fce300;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    
}
.navbar img{
    width: 200px;
}
.navbar li{
    font-weight: 600;
    font-size: 18px;
    width: 96%;
    color: rgb(27, 26, 23);

}
.blackout{
  color: rgba(0, 0, 0, 0);
 padding-top: 10px;
 margin-top: 16px;
 margin-bottom: -34px;
 
}
hr{
    color: #636363;
    height: 5px;
    border: 10px;
}

.nav-link:hover{
    text-decoration: underline;
    padding-top: 5px;
    transition: 200ms;
}
/*NAVBAR*/


/*CAROUSEL*/

body{background: black;
position: relative;

}
.isr{
  height: 500px;
  
}
.tml{
      font-size: 20px;
}


/*CAROUSEL*/

/*NOSOTROS*/
.nosotross{
          text-align: center;
          max-width: 1200px;
          position: relative;
          display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    color: white;
    

}
/*NOSOTROS*/

/*SERVICIOS*/
.cardss{
  margin-bottom: 60px;
}

.card .to{
    background: url(/imagenes/mercadolibre\ cajas.jpg);
    background-size: cover;
}
.card .lo{
    background: url(/imagenes/frente1.JPG);
    
    background-size: cover;
    
}

.card .so{
    background: url(/imagenes/service-parts.jpg);
    background-size: cover;
    background-position: center;
    
    
    
}
mark{color: rgb(255, 255, 255);
background: rgba(0, 0, 0, 0.274);
border-radius: 5px;
}
.card .ca{
    background: url(/imagenes/cambio-aceite-coche.jpg);
    background-size: cover;
    color: rgb(255, 255, 255);
}
.card .mg{
    background: url(/imagenes/dia-del-mecanico.jpg);
    background-size: cover;
    color: white;
}

.titulos{
    color: white;
    margin-top: 0px;
    
}

/*SERVICIOS*/

/*FORMULARIO CONTACTO*/

  
  form {
    width: 500px;
    margin: auto;
   
    background: rgb(0, 0, 0);
    background-size: cover;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
  }
  
  input,
  textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    border: none;
    font-weight: bold;
    font-weight: 700;
    border-radius: 5px;
    
  }
  
  textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
  }
  #botonf {
    background: white;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-weight: bold;
    font-weight: 700;
  }
  #boton:hover {
    cursor: pointer;
  }
  
  @media (max-width: 480px) {
    form {
      width: 100%;
    }
  }
  
  /*FIN DE FORMULARIO*/
 /*boton de ir arriba*/
 #button-up {
  width: 60px;
  height: 60px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  border-radius: 50%;
  font-size: 20px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 300ms ease;
  transform: scale(0);
}

#button-up:hover {
  transform: scale(1.1);
  border-color: rgba(0, 0, 0, 0.39);
}
/*boton de ir arriba*/



/*INICIO FOOTER*/
footer {
    width: 100%;
    padding: 0px 0px;
    background: #fce300;
    background-size: cover;
    height: 320px;
    color: rgb(27, 26, 23);
    
    
  }
  
  
  .container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
    bottom: 0px;
    
  }
  
  .box__footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .box__footer .logo img {
    width: 180px;
  }
  
  .box__footer .terms {
    
    max-width: 350px;
    margin-top: 20px;
    font-weight: 700;
    color: rgb(27, 26, 23);
    font-size: 18px;
  }
  
  
  .box__footer h2 {
    
    margin-bottom: 20px;
    color: rgb(27, 26, 23);
    font-weight: 700;
  }
  
  .box__footer a {
    padding-top: 5px;
    margin-top: 0px;
    color: rgb(27, 26, 23);
    font-weight: 400;
    text-decoration: none;
  }
  .box__footer a:hover {
      margin-left: 1px;

  }
  
  
  .terms p {
    font-weight: 400;
    
  }
  
  
  
  .box__footer a:hover {
    opacity: 0.8;
  }
  
  .box__footer a .fab {
    font-size: 20px;
    flex-direction: column-reverse;
  }
  .box__footer i {
    font-size: 30px;
  }
  .box__copyright {
      
    width:100% ;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    
  }
  
  .box__copyright p {
      
    
    font-size: 15px;
    margin-top: 10px;
    color: rgb(27, 26, 23);
    font-weight: 400;
  }
  
  .box__copyright hr {
    border: none;
    height: 1px;
    background-color: rgb(27, 26, 23);
  }
  /*FIN FOOTER*/
 




@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Grape+Nuts&family=League+Gothic&family=Londrina+Solid&family=Montserrat:wght@100&family=Roboto+Serif:ital,wdth,wght@0,100.2,448;1,100,200&display=swap');

/*// Small devices (landscape phones, 576px and up)*/
@media(max-width: 576px) {
  
  .card-body{
    
    display: block;
    width: 350px;
  
   max-width: 428px;
  }

  
  .isr{
    height: 20px;
  }
  .container__footer{
  background: #fce300;
}

}

/*// Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {.card-body{
  
  display: block;
  width: 350px;
  margin: 15px;
  display:flex;
  justify-content: center;  
  flex: row;
}
.cardss{
  display:flex;
  justify-content: center;  
  flex: row;
}
.isr{
  height: auto;
}
.container__footer{
  background: #fce300;
}
.rect{
  margin-left: 125px;
}

}

/*// Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {.card-body{
  display: block;
    width: 450px;
  
}
.isr{
  height: auto;
}
.rect{
  margin-left: 300px;
}

}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {


.card-body{
  display: block;
  width: 450px;
}
.cardss{
  display:flex;
  justify-content: center;  
  flex: row;
}

}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (max-width: 1400px) {
  .body{
    max-width: 1400px;
  }
.cardss{
  display:flex;
  justify-content: center;  
  flex: row;
  
}
.card-body{
  display: block;
  width: 450px;
  

}
.rect{
  margin-left: 50%;
}

  
}


/*// monitores 2k en adelante, 1921px and up)*/
@media (min-width: 1921px) {
.isr{
  height: 667px;
  
}
.nosotross{
  margin-bottom: 40px;
}
.blackout{
  color: rgba(0, 0, 0, 0);
 padding-top: 10px;
 margin-top: 16px;
 margin-bottom: -58px;

 
}

}